.RadioButton .form-radio > .form--control:checked,
.RadioButton .form-radio > .form--control:not(:checked) {
  position: absolute;
  left: -9999px; }

.RadioButton .form-radio > .form--control:checked + .form--label,
.RadioButton .form-radio > .form--control:not(:checked) + .form--label {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0px;
  width: 100%; }

.RadioButton .form-radio > .form--control:checked + .form--label:before,
.RadioButton .form-radio > .form--control:not(:checked) + .form--label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #999b9e;
  border-radius: 100%;
  background: #ffffff;
  margin-top: 3px; }

.RadioButton .form-radio > .form--control:checked + .form--label:after,
.RadioButton .form-radio > .form--control:disabled + .form--label:after,
.RadioButton .form-radio > .form--control:not(:checked) + .form--label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: #e90b5a;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
  margin-top: 3px; }

.RadioButton .form-radio > .form--control:disabled + .form--label:after {
  background: #999b9e; }

.RadioButton .form-radio > .form--control:not(:checked) + .form--label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.RadioButton .form-radio > .form--control:checked + .form--label::before {
  border: 1px solid #e90b5a; }

.RadioButton .form-radio > .form--control:disabled + .form--label::before {
  border: 1px solid #999b9e;
  opacity: 0.5; }

.RadioButton .form-radio > .form--control:checked + .form--label::after {
  transition: transform 150ms ease-out, opacity 100ms ease-out;
  transform: scale(1);
  opacity: 1; }
